* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  padding: 20px;
}

.main .file-name {
  font-weight: 800;
  margin-bottom: 15px;
}